In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('merged_mental_health_dataset.csv')

In [ ]:
df.head()

,Gender,Age group,Marital status,Occupation,State,DISTRICT,Meditation and Exercises,Sleeping time,Family Relations,Relationship status,Concentration,ever felt depressed,taking any treatment?,Phys_health_interview,Suicidal attempt?,Panic attacks?,Hopelessness,Depression State,Social_Weakness
0,Female,25 to 27,No,Corporate,A & N Islands,BAGALKOTE,"I run or walk 1 mile/km a week, I go to the Gy...",1.0,9,Single,1.0,Yes,No,Maybe,5.0,5.0,5.0,Mild,Yes
1,Male,22 to 24,No,Others,A & N Islands,BANGALORE RURAL,"I run or walk 1 mile/km a week, I run or walk ...",2.0,3,Single,5.0,No,No,No,1.0,1.0,1.0,Moderate,Yes
2,Male,19 to 21,No,Student,A & N Islands,BANGALORE URBAN,"I go to the Gym/exercise everyday, I do all th...",5.0,10,"Married, In a relationship, Single",2.0,Yes,No,Yes,2.0,2.0,2.0,Severe,No
3,Male,25 to 27,Yes,Others,A & N Islands,BELGAUM,"I go to the Gym/exercise everyday, I meditate ...",1.0,5,Single,1.0,Yes,No,Maybe,5.0,5.0,5.0,No depression,Yes
4,Male,25 to 27,No,Student,A & N Islands,BELLARY,"I run or walk 1 mile/km a week, I go to the Gy...",2.0,7,Single,5.0,No,No,Yes,1.0,1.0,1.0,Moderate,No

In [ ]:
df.isnull().sum()

Gender                      0
Age group                   0
Marital status              0
Occupation                  0
State                       0
DISTRICT                    0
Meditation and Exercises    0
Sleeping time               0
Family Relations            0
Relationship status         0
Concentration               0
ever felt depressed         0
taking any treatment?       0
Phys_health_interview       0
Suicidal attempt?           0
Panic attacks?              0
Hopelessness                0
Depression State            0
Social_Weakness             0
dtype: int64

In [ ]:
unknown_columns = (df == 'Unknown').sum(axis=0)

# Print the result
print(unknown_columns)

Gender                           0
Age group                        1
Marital status              238289
Occupation                  236695
State                            0
DISTRICT                    238573
Meditation and Exercises    236011
Sleeping time               237263
Family Relations            236011
Relationship status         237845
Concentration               237263
ever felt depressed         238289
taking any treatment?       236133
Phys_health_interview       236260
Suicidal attempt?           237263
Panic attacks?              237263
Hopelessness                237263
Depression State            237263
Social_Weakness             236695
dtype: int64

### We need to handle this "Unknown values"

In [ ]:
unique_value_counts = {col: df[col].nunique() for col in df.columns}

# Convert the dictionary to a DataFrame for better display
unique_value_counts_df = pd.DataFrame.from_dict(unique_value_counts, orient='index', columns=['Unique Value Count'])

# Display the DataFrame
print(unique_value_counts_df)

                          Unique Value Count
Gender                                     3
Age group                                 28
Marital status                             3
Occupation                                 6
State                                     38
DISTRICT                                  31
Meditation and Exercises                  36
Sleeping time                              7
Family Relations                          13
Relationship status                       11
Concentration                              6
ever felt depressed                        3
taking any treatment?                     28
Phys_health_interview                      4
Suicidal attempt?                          7
Panic attacks?                             7
Hopelessness                               7
Depression State                          11
Social_Weakness                            4

## Gender

In [ ]:
df['Gender'].unique()

array(['Female', 'Male', 'I fall into the other 66 gender identities'],
      dtype=object)

In [ ]:
df['Gender'].value_counts()

Gender
Male                                          119445
Female                                        119247
I fall into the other 66 gender identities         1
Name: count, dtype: int64

In [ ]:
df=df[df['Gender'] != 'I fall into the other 66 gender identities']

In [ ]:
df['Gender'].unique()

array(['Female', 'Male'], dtype=object)

## Age

In [ ]:
df['Age group'].unique()  ## needed attention

array(['25 to 27', '22 to 24', '19 to 21', '28 to 30', '31 to 33',
       '16 to 18', '37 to 39', '40 and above', '34 to 36', '13 to 15',
       '0-14', '15-29', '30-44', '45-59', '60+', '0-100+', '20-25',
       '30-Above', '25-30', '16-20', '18.0', '21.0', '19.0', '22.0',
       '23.0', '20.0', '24.0', 'Unknown'], dtype=object)

## New Categories
##### 0-14
##### 15-24
##### 25-34
##### 35-44
##### 45-59
##### 60+
##### Others (for any unknown or unclassified values)

In [ ]:
simplified_age_mapping = {
    '0-14': '0-14', '13 to 15': '0-14',
    '15-29': '15-24', '16 to 18': '15-24', '16-20': '15-24', '19 to 21': '15-24', '18.0': '15-24', '19.0': '15-24', '20.0': '15-24', '20-25': '15-24', '21.0': '15-24', '22.0': '15-24', '23.0': '15-24', '24.0': '15-24',
    '22 to 24': '15-24',
    '25-30': '25-34', '25 to 27': '25-34', '28 to 30': '25-34', '30-44': '25-34', '31 to 33': '25-34', '34 to 36': '25-34', '30-Above': '25-34',
    '37 to 39': '45-59', '35-44': '45-59',
    '45-59': '45-59', '40 and above': '45-59',
    '60+': '60+',
    '0-100+': 'Others',
    'Unknown': 'Others'
}

df['Age group'] = df['Age group'].replace(simplified_age_mapping)

In [ ]:
df['Age group'].value_counts()

Age group
15-24     45845
25-34     45725
45-59     45162
60+       45074
0-14      45029
Others    11857
Name: count, dtype: int64

## Marital status

In [ ]:
df['Marital status'].unique()

array(['No', 'Yes', 'Unknown'], dtype=object)

In [ ]:
df['Marital status'] = df['Marital status'].replace('Unknown', 'Not disclosed')

# Check the result
print(df['Marital status'].unique())

['No' 'Yes' 'Not disclosed']

In [ ]:
df['Marital status'].value_counts()

Marital status
Not disclosed    238288
No                  340
Yes                  64
Name: count, dtype: int64

## Occupation

In [ ]:
df['Occupation'].unique()

array(['Corporate', 'Others', 'Student', 'Housewife', 'Business',
       'Unknown'], dtype=object)

In [ ]:
df['Occupation'].value_counts()

Occupation
Unknown      236695
Housewife       443
Student         437
Corporate       394
Others          373
Business        350
Name: count, dtype: int64

In [ ]:
df['Occupation'] = df['Occupation'].replace('Unknown', 'Others')

# Check the updated value counts
print(df['Occupation'].value_counts())

Occupation
Others       237068
Housewife       443
Student         437
Corporate       394
Business        350
Name: count, dtype: int64

## State

In [ ]:
df['State'].value_counts()

State
A & N Islands        7885
Karnataka            6792
Maharashtra          6792
Madhya Pradesh       6792
Andhra Pradesh       6791
Rajasthan            6791
Odisha               6791
Bihar                6790
Chhattisgarh         6790
Haryana              6790
Kerala               6788
Uttar Pradesh        6787
Tamil Nadu           6786
Gujarat              6786
Assam                6786
Jharkhand            6785
Tripura              6782
Delhi (Ut)           6782
West Bengal          6780
Punjab               6779
Himachal Pradesh     6774
Jammu & Kashmir      6761
Goa                  6759
Uttarakhand          6758
Sikkim               6742
Mizoram              6737
Meghalaya            6733
Puducherry           6730
Chandigarh           6717
Daman & Diu          6710
Arunachal Pradesh    6707
Nagaland             6705
D & N Haveli         6704
Manipur              6700
Lakshadweep          6674
Total (Uts)           312
Total (States)        312
Total (All India)     312
Name: count, dtype: int64

In [ ]:
df['DISTRICT'].value_counts()

DISTRICT
Unknown             238572
HASSAN                   4
YADGIR                   4
UTTARA KANNADA           4
UDUPI                    4
TUMKUR                   4
SHIVAMOGGA               4
RAMANAGAR                4
RAICHUR                  4
MYSORE                   4
MANDYA                   4
KOPPAL                   4
KOLAR                    4
KODAGU                   4
HAVERI                   4
BAGALKOTE                4
BANGALORE RURAL          4
GADAG                    4
DHARWAD                  4
DAVANAGERE               4
DAKSHINA KANNADA         4
CHITRADURGA              4
CHIKMAGALUR              4
CHIKKABALLAPUR           4
CHAMRAJNAGAR             4
BIJAPUR                  4
BIDAR                    4
BELLARY                  4
BELGAUM                  4
BANGALORE URBAN          4
GULBARGA                 4
Name: count, dtype: int64

In [ ]:
df = df.drop(columns=['DISTRICT'])

## Meditation and exercises

In [ ]:
df['Meditation and Exercises'].unique()

array(['I run or walk 1 mile/km a week, I go to the Gym/exercise everyday, I clean my house/help someone clean my house once a week',
       'I run or walk 1 mile/km a week, I run or walk 5 mile/km a week, I clean my house/help someone clean my house once a week',
       'I go to the Gym/exercise everyday, I do all the household chores by myself, I meditate at least once a week',
       'I go to the Gym/exercise everyday, I meditate at least once a week, I clean my house/help someone clean my house once a week',
       'I run or walk 1 mile/km a week, I go to the Gym/exercise everyday, I run or walk 5 mile/km a week',
       'I run or walk 1 mile/km a week, I run or walk 5 mile/km a week, I meditate at least once a week',
       'I do all the household chores by myself, I clean my house/help someone clean my house once a week, Its been a while that I have done any physical activity to push my body',
       'I meditate at least once a week, I clean my house/help someone clean my house once a week, Its been a while that I have done any physical activity to push my body',
       'I run or walk 5 mile/km a week, I clean my house/help someone clean my house once a week, Its been a while that I have done any physical activity to push my body',
       'I go to the Gym/exercise everyday, I run or walk 5 mile/km a week, I clean my house/help someone clean my house once a week',
       'I run or walk 1 mile/km a week, I do all the household chores by myself, Its been a while that I have done any physical activity to push my body',
       'I run or walk 5 mile/km a week, I do all the household chores by myself, I clean my house/help someone clean my house once a week',
       'I run or walk 1 mile/km a week, I go to the Gym/exercise everyday, I meditate at least once a week',
       'I run or walk 1 mile/km a week, I run or walk 5 mile/km a week, Its been a while that I have done any physical activity to push my body',
       'I run or walk 1 mile/km a week, I clean my house/help someone clean my house once a week, Its been a while that I have done any physical activity to push my body',
       'I run or walk 1 mile/km a week, I meditate at least once a week, I clean my house/help someone clean my house once a week',
       'I run or walk 5 mile/km a week, I meditate at least once a week, I clean my house/help someone clean my house once a week',
       'I run or walk 1 mile/km a week, I meditate at least once a week, Its been a while that I have done any physical activity to push my body',
       'I run or walk 1 mile/km a week, I run or walk 5 mile/km a week, I do all the household chores by myself',
       'I go to the Gym/exercise everyday, I run or walk 5 mile/km a week, I do all the household chores by myself',
       'I run or walk 5 mile/km a week, I do all the household chores by myself, I meditate at least once a week',
       'I run or walk 1 mile/km a week, I do all the household chores by myself, I clean my house/help someone clean my house once a week',
       'I go to the Gym/exercise everyday, I run or walk 5 mile/km a week, I meditate at least once a week',
       'I run or walk 1 mile/km a week, I go to the Gym/exercise everyday, I do all the household chores by myself',
       'I run or walk 5 mile/km a week, I meditate at least once a week, Its been a while that I have done any physical activity to push my body',
       'I go to the Gym/exercise everyday, I run or walk 5 mile/km a week, Its been a while that I have done any physical activity to push my body',
       'I do all the household chores by myself, I meditate at least once a week, I clean my house/help someone clean my house once a week',
       'I go to the Gym/exercise everyday, I do all the household chores by myself, I clean my house/help someone clean my house once a week',
       'I run or walk 1 mile/km a week, I do all the household chores by myself, I meditate at least once a week',
       'I run or walk 5 mile/km a week, I do all the household chores by myself, Its been a while that I have done any physical activity to push my body',
       'I go to the Gym/exercise everyday, I clean my house/help someone clean my house once a week, Its been a while that I have done any physical activity to push my body',
       'I do all the household chores by myself, I meditate at least once a week, Its been a while that I have done any physical activity to push my body',
       'No', "Don't know", 'Yes', 'Unknown'], dtype=object)

In [ ]:
# Define mapping function
def map_exercise_category(activity):
    if activity in [
        'I run or walk 1 mile/km a week, I go to the Gym/exercise everyday, I clean my house/help someone clean my house once a week',
        'I run or walk 1 mile/km a week, I run or walk 5 mile/km a week, I clean my house/help someone clean my house once a week',
        'I go to the Gym/exercise everyday, I meditate at least once a week, I clean my house/help someone clean my house once a week',
        'I run or walk 1 mile/km a week, I run or walk 5 mile/km a week',
        'I run or walk 1 mile/km a week, I go to the Gym/exercise everyday',
        'I run or walk 5 mile/km a week, I do all the household chores by myself',
        'I go to the Gym/exercise everyday, I run or walk 5 mile/km a week',
        'I run or walk 1 mile/km a week, I run or walk 5 mile/km a week, I meditate at least once a week'
    ]:
        return 'Exercise Regularly'
    elif activity in [
        'I run or walk 1 mile/km a week, I do all the household chores by myself',
        'I run or walk 1 mile/km a week, I meditate at least once a week',
        'I run or walk 1 mile/km a week, I clean my house/help someone clean my house once a week',
        'I run or walk 1 mile/km a week, Its been a while that I have done any physical activity',
        'I meditate at least once a week, I clean my house/help someone clean my house once a week'
    ]:
        return 'Exercise Occasionally'
    elif activity in [
        'I do all the household chores by myself, I clean my house/help someone clean my house once a week',
        'I do all the household chores by myself, Its been a while that I have done any physical activity'
    ]:
        return 'Household Chores Only'
    elif activity in [
        'I meditate at least once a week, I do all the household chores by myself',
        'I meditate at least once a week, I run or walk 1 mile/km a week',
        'I meditate at least once a week, Its been a while that I have done any physical activity'
    ]:
        return 'Meditation'
    elif activity in [
        'No',
        'Its been a while that I have done any physical activity'
    ]:
        return 'Exercise Rarely'
    elif activity in [
        "Don't know",
        'Unknown'
    ]:
        return 'Unknown/Uncertain'
    else:
        return 'Uncategorized'

# Apply the mapping function to the DataFrame
df['Meditation and Exercises']=df['Meditation and Exercises'].apply(map_exercise_category)

In [ ]:
df['Meditation and Exercises'].unique()

array(['Exercise Regularly', 'Uncategorized', 'Exercise Rarely',
       'Unknown/Uncertain'], dtype=object)

In [ ]:
df['Meditation and Exercises'].value_counts()

Meditation and Exercises
Unknown/Uncertain     236301
Exercise Rarely         1217
Uncategorized           1041
Exercise Regularly       133
Name: count, dtype: int64

## Sleeping time

In [ ]:
df['Sleeping time'].unique()  ##will see

array(['1.0', '2.0', '5.0', '6.0', '3.0', '4.0', 'Unknown'], dtype=object)

In [ ]:
df['Sleeping time'].value_counts()

Sleeping time
Unknown    237263
5.0           441
1.0           415
2.0           366
3.0            84
4.0            84
6.0            39
Name: count, dtype: int64

In [ ]:
df['Sleeping time'] = df['Sleeping time'].replace('Unknown', 'not disclose')

In [ ]:
df['Sleeping time'].unique()

array(['1.0', '2.0', '5.0', '6.0', '3.0', '4.0', 'not disclose'],
      dtype=object)

## Family relations

In [ ]:
df['Family Relations'].unique()

array(['9', '3', '10', '5', '7', '8', '6', '1', '2', '4', 'No', 'Yes',
       'Unknown'], dtype=object)

In [ ]:
# Define the mapping function
def map_family_relations(value):
    if value in ['1', '2', '3', 'No']:
        return 'Low'
    elif value in ['4', '5', '6', '7', 'Unknown']:
        return 'Medium'
    elif value in ['8', '9', '10', 'Yes']:
        return 'High'
    else:
        return 'Uncategorized'

# Apply the mapping function to the DataFrame
df['Family Relations'] = df['Family Relations'].apply(map_family_relations)

In [ ]:
df['Family Relations'].value_counts()

Family Relations
Medium    236313
High        1198
Low         1181
Name: count, dtype: int64

## Relationship status

In [ ]:
df['Relationship status'].unique()

array(['Single', 'Married, In a relationship, Single',
       'Not in this relationship',
       'I am Married and I am super happy with my partner',
       'I am Married and I am happy, but I do have occasional issues with my partner',
       'I am in a relationship and I am happy, but I do have occasional issues with my partner',
       'I am not in a relationship with anyone',
       'I am in a relationship and I am super happy with my partner',
       'I am Married and I am not happy, since I have frequent issues with my partner',
       'I am in a relationship and I am not happy, since I have frequent issues with my partner',
       'Unknown'], dtype=object)

In [ ]:
# Define the mapping function
def map_relationship_status(status):
    if status in [
        'Single',
        'I am not in a relationship with anyone',
        'Not in this relationship'
    ]:
        return 'Single'
    elif status in [
        'I am Married and I am super happy with my partner',
        'I am Married and I am happy, but I do have occasional issues with my partner'
    ]:
        return 'Married - Happy'
    elif status == 'I am Married and I am not happy, since I have frequent issues with my partner':
        return 'Married - Unhappy'
    elif status in [
        'I am in a relationship and I am super happy with my partner',
        'I am in a relationship and I am happy, but I do have occasional issues with my partner'
    ]:
        return 'In a Relationship - Happy'
    elif status == 'I am in a relationship and I am not happy, since I have frequent issues with my partner':
        return 'In a Relationship - Unhappy'
    elif status == 'Unknown':
        return 'Prefer not to disclose'
    elif status in [
        'Married, In a relationship, Single'
    ]:
        return 'Single'
    else:
        return 'Uncategorized'

# Apply the mapping function to the DataFrame
df['Relationship status'] = df['Relationship status'].apply(map_relationship_status)

In [ ]:
df['Relationship status'].value_counts()

Relationship status
Prefer not to disclose         237845
Single                            506
Married - Happy                   165
In a Relationship - Happy         148
Married - Unhappy                  18
In a Relationship - Unhappy        10
Name: count, dtype: int64

## Concentraion

In [ ]:
df['Concentration'].unique()

array(['1.0', '5.0', '2.0', '3.0', '4.0', 'Unknown'], dtype=object)

In [ ]:
df['Concentration'].value_counts()

Concentration
Unknown    237263
5.0           450
1.0           442
2.0           369
3.0            84
4.0            84
Name: count, dtype: int64

In [ ]:
df['Concentration'] = df['Concentration'].replace('Unknown', 'Prefer not to disclose')

In [ ]:
df['Concentration'].unique()

array(['1.0', '5.0', '2.0', '3.0', '4.0', 'Prefer not to disclose'],
      dtype=object)

## ever felt depressed

In [ ]:
df['ever felt depressed'].unique()

array(['Yes', 'No', 'Unknown'], dtype=object)

In [ ]:
df['ever felt depressed'].value_counts()

ever felt depressed
Unknown    238288
No            264
Yes           140
Name: count, dtype: int64

In [ ]:
# Replace 'Unknown' with 'Prefer not to disclose'
df['ever felt depressed'] = df['ever felt depressed'].replace('Unknown', 'Prefer not to disclose')

In [ ]:
df['ever felt depressed'].unique()

array(['Yes', 'No', 'Prefer not to disclose'], dtype=object)

## Treatment

In [ ]:
df['taking any treatment?'].unique()

array(['No', 'Yes', '12.0', '8.8', '11.2', '7.3', '3.2', '13.7', '13.0',
       '13.8', '1.7', '15.8', '9.1', '11.6', '1.3', '2.3', '3.8', '3.3',
       '10.5', '16.1', '0.0', '1.1', '10.9', '8.7', '10.7', '11.9', '7.1',
       'Unknown'], dtype=object)

In [ ]:
df['taking any treatment?'] = df['taking any treatment?'].replace({
    'Unknown': 'Prefer not to disclose'
}).replace({
    '0.0': 'Yes', '1.1': 'Yes', '1.3': 'Yes', '1.7': 'Yes', '2.3': 'Yes', '3.2': 'Yes',
    '3.3': 'Yes', '3.8': 'Yes', '7.1': 'Yes', '7.3': 'Yes', '8.7': 'Yes', '8.8': 'Yes',
    '9.1': 'Yes', '10.5': 'Yes', '10.7': 'Yes', '10.9': 'Yes', '11.2': 'Yes', '11.6': 'Yes',
    '11.9': 'Yes', '13.0': 'Yes', '13.7': 'Yes', '13.8': 'Yes', '15.8': 'Yes', '16.1': 'Yes', '12.0':'Yes'
})

In [ ]:
df['taking any treatment?'].unique()

array(['No', 'Yes', 'Prefer not to disclose'], dtype=object)

## Phys_health_interview

In [ ]:
df['Phys_health_interview'].value_counts()

Phys_health_interview
Unknown    236260
Maybe        1079
No            939
Yes           414
Name: count, dtype: int64

In [ ]:
df['Phys_health_interview'] = df['Phys_health_interview'].replace('Unknown', 'Prefer not to disclose')

In [ ]:
df['Phys_health_interview'].value_counts()

Phys_health_interview
Prefer not to disclose    236260
Maybe                       1079
No                           939
Yes                          414
Name: count, dtype: int64

## Suicidal attempt

In [ ]:
df['Suicidal attempt?'].unique()

array(['5.0', '1.0', '2.0', '6.0', '3.0', '4.0', 'Unknown'], dtype=object)

In [ ]:
# Replace 'Unknown' with 'Prefer not to disclose'
df['Suicidal attempt?'] = df['Suicidal attempt?'].replace('Unknown', 'Prefer not to disclose')

In [ ]:
df['Suicidal attempt?'].value_counts()

Suicidal attempt?
Prefer not to disclose    237263
5.0                          461
1.0                          392
2.0                          369
3.0                           84
4.0                           84
6.0                           39
Name: count, dtype: int64

## Panic attacks

In [ ]:
df['Panic attacks?'].unique()

array(['5.0', '1.0', '2.0', '6.0', '4.0', '3.0', 'Unknown'], dtype=object)

In [ ]:
df['Panic attacks?'].value_counts()

Panic attacks?
Unknown    237263
5.0           454
2.0           397
1.0           364
4.0            91
3.0            84
6.0            39
Name: count, dtype: int64

In [ ]:
df['Panic attacks?'] = df['Panic attacks?'].replace('Unknown', 'Prefer not to disclose')

## Hopelessness

In [ ]:
df['Hopelessness'].unique()

array(['5.0', '1.0', '2.0', '6.0', '3.0', '4.0', 'Unknown'], dtype=object)

In [ ]:
df['Hopelessness'].value_counts()

Hopelessness
Unknown    237263
5.0           454
1.0           384
2.0           377
3.0            91
4.0            84
6.0            39
Name: count, dtype: int64

In [ ]:
df['Hopelessness'] = df['Hopelessness'].replace('Unknown', 'Prefer not to disclose')

## Depression state

In [ ]:
df['Depression State'].value_counts()

Depression State
Unknown             237263
No depression          412
Mild                   319
Moderate               303
Severe                 297
\tNo depression         30
\tModerate              22
\tMild                  22
\tSevere                20
2\tNo depression         2
5\tNo depression         2
Name: count, dtype: int64

In [ ]:
consolidation_map = {
    'Unknown': 'prefer not to disclose',
    'No depression': 'No depression',
    '\tNo depression': 'No depression',
    '2\tNo depression': 'No depression',
    '5\tNo depression': 'No depression',
    'Mild': 'Mild',
    '\tMild': 'Mild',
    'Moderate': 'Moderate',
    '\tModerate': 'Moderate',
    'Severe': 'Severe',
    '\tSevere': 'Severe'
}

# Clean and map the values
df['Depression State'] = df['Depression State'].str.strip().replace(consolidation_map)

# Check the result
print(df['Depression State'].unique())
print(df['Depression State'].value_counts())

['Mild' 'Moderate' 'Severe' 'No depression' 'prefer not to disclose']
Depression State
prefer not to disclose    237263
No depression                446
Mild                         341
Moderate                     325
Severe                       317
Name: count, dtype: int64

## Social weakness

In [ ]:
df['Social_Weakness'].value_counts()

Social_Weakness
Unknown    236695
Maybe         689
No            679
Yes           629
Name: count, dtype: int64

In [ ]:
df['Social_Weakness'] = df['Social_Weakness'].replace('Unknown', 'Prefer not to disclose')

In [ ]:
df['Social_Weakness'].value_counts()

Social_Weakness
Prefer not to disclose    236695
Maybe                        689
No                           679
Yes                          629
Name: count, dtype: int64

## save it to new dataset

In [ ]:
# Save the DataFrame to a new CSV file
df.to_csv('preprocessed_dataset.csv', index=False)